# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 9e2e13c9511c786481dbeba91d98a72297021dc3e46860e3354b49fa6b64f18a64e560036cd10a212266e16ad6da3f4395d3843cad485ceb93c2465504465cef

test:
  secret_key_base: 6f78062a2476275825b15eab6849d34384bc2e37cc4b2907d9a69e2ce9b77ca19c314bd48c79d6b361816d83511082d959f422cc66db7d70cd8b24c4d08972b1

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: b482e1d3a40c9f8e964445ded193ba06ce822c3c4e9b7586ddef471df742673a7520a1503d3bbee75b5264c2e6bf010fd86dc2f3dcd5c1689856dc189f13ee08
  #secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
